* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}

.app {
  background-color: #eee9;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #3339;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaa9;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.issue-list {

}

.todo {

}

.public {
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.profile > h3 {
  margin: 16px 0;
  text-decoration: underline;
}

.profile > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid #3339;
  background-color: #aaa9;
  padding: 16px;
  border-radius: 5px
}

.profile > form > input,
.profile > form > button {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px
}


.signUpIn{
  cursor: pointer;
}
.member{
  cursor: pointer;
}
/* profile */
.inputComment{
  height: 150px;
  width: 300px;
  vertical-align: text-top;
  
}
/* public */
.publicIssueWrapper{
  padding: 20px;
  align-self: center;
  background-color: #eee9;
  align-items: center;
  border: black 1px solid;
}
.publicInfoContainer{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.publicImage{
  grid-column: 2/3;
  display: flex;
  justify-content: space-around;
}
.publicWords{
  text-align: left;
  grid-column: 3/4;
  border: 1px black solid;
  border-radius: 20px;
  padding: 10px;
}
.publicIssue{
  font-size: larger;
  font: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}
.publicReply{
  grid-column: 2/4;
}
strong{
  font: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(13, 13, 177);
}
.publicComment{
  font: caption;
}
.publicIcons{
  grid-column: 3/4;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 10px;
}
.addComment{
  font-size: 35px;
  cursor: pointer;
}
.publicLikes{
  display:inline-flex;
}
.likeGroup{
  margin-right: 20px;
  display: inline-flex
}
.thumbsUp{
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px;
}
.likes{
  font-size: x-large;
  font-weight: 100;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.dislikeGroup{
  display: inline-flex
}
.thumbsDown{
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px;
}
.dislikes{
  font-size: x-large;
  font-weight: 100;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.publicReply{
  grid-column: 3/4;
  width: 100%;
}
.replyForm{
  width: 100%;
}
