html{
    background-color: azure;
}
.headerContainer {
    width: 100%;
    max-height: 500px;
    min-width: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.img {
    width: 100%;
    max-height: 500px;
    min-width: 800px;
    position: relative;
}
.title {
    position: relative;
    top: -150px;
    padding-left: 30px;
    color: snow;
    text-decoration: overline underline; 
    text-underline-offset: 4px;
    font-size: 45px;
    
}
.icons {
    position: relative;
    top: -165px;
    padding-left: 30px;
    color: snow;
    font-size: 30px;
    left: 45px;
}
i {
    padding-left: 50px;
}
.container {
    display: inline-flex;

    }
.cardContainer {
    background-color:rgb(0, 216, 205);
    width: 250px;
    border-radius: 8px;
    margin-top: 20px;
    position: relative;
    padding-top: 10px;
    margin-right: 0px;
    margin-left: 24px;
    padding-right: 10px;
    height: 320px;
}
.place {
    padding-left: 10px;
    margin-bottom: -20px;
    text-align: center;
    color: white;
    
}
.price {
    padding-left: 10px;
    margin-bottom: -20px;
    text-align: center;
    color: white;
    
}
.timeToGo {
    padding-left: 10px;
    text-align: center;
    color: white;
    
}
h5 {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 12px;
}
.cardImg {
    width: 235px;
    height: 180px;
    padding-left: 10px;
    padding-right: 10px;
}