html{
  background: linear-gradient(90deg, rgb(7, 91, 164), rgb(255, 255, 255));
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
strong {
  font-weight: bold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  position: sticky;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(39, 45, 96));
  padding: 20px;
  height: 40px;
  color: white;
  z-index: 1100;
}
.logo{
  font-family: 'Inspiration';
}
.nav-links{
  display: flex;
  gap: 5em;
}
/* Button */
.enterContainer{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));

}
.enter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-size: 1000%;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
  background-color: rgb(16, 20, 57);
  border-radius: 30px;
  cursor: pointer;
}

.enter:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.enter:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.enter:hover:before {
  left: 100%;
}
/* Title */
.typewriter{
  position: relative;
  top: 200px;
  left: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(39, 45, 96);
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
strong{
  color: red;
}
/* pic */
.me{
  position: absolute;
  bottom: 0;
}
.me-2{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 5%;
}
/* buttons */
.hidden{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  opacity: 0;
}
.button-aboutMe{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  transition: opacity 500ms 5s;
  opacity: 1;
}
.button-aboutMe:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-aboutMe 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-aboutMe {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-aboutMe:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.arrow{
  position: relative;
  right: 0;
  top: 5px;
  padding-right: 10px; 
}

