body{
    margin: 0px;
    background-color: #0761AF;
}
.appWrapper{

}
.topNav{
    background-color: black;
    width: 100%;
    position: absolute;
    height: 70px;
}
.homeLink{
    position: absolute;
    font-size: x-large;
    background-color: grey;
    border-radius: 8%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px; 
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}
.sideNav{
    position: absolute;
    margin-top: 20px;
    right: 0;
    padding-right: 50px;
}
.gameLink{
    position: relative;
    font-size: x-large;
    background-color: grey;
    border-radius: 8%;
    padding: 10px; 
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}
.practiceLink{
    position: relative;
    font-size: x-large;
    background-color: grey;
    border-radius: 8%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px; 
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}
.homeWrapper{

}
.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
}
.intro{
    position: relative;
    top: 20px;
    color: white;
    text-shadow: 2px 2px #000000;
    padding: 50px;
    padding-bottom: 0px;
}
.inputs{
    position: relative;
    text-align: center;
    left: 10%;
    top: 80px;
    padding: 50px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.324);
    width: 400px;
}
.input1{
    width: 250px;
    height: 50px;
    font-size: larger;
}
.input2{
    width: 250px;
    height: 50px;
    font-size: larger;
}
.button{
    height: 40px;
    width: 100px;
    font-size: larger;
}
.gameWrapper{
    position: absolute;
    top: 70px;
}
.practiceWrapper{
    
}
.players{
    position: absolute;
    min-width: 200px;
    padding-left: 20px;
    top: 30px;
}
.player1{
    width: 240px;
    border: 1px white solid;
    bottom: 0;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.player2{
    width: 240px;
    border: 1px white solid;
    bottom: 0;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
}
.name1{
    font-size: xx-large;
    font-family: 'schoolbell';
    color: white;
    text-shadow: #000000;
    align-content: center;
    text-align: center;
    border: white 1px solid;
    height: 100px; 
    line-height: 100px;
    border-style: ridge;
    background-color: rgba(0, 26, 140, 0.455);
    border: 5px solid black;
    cursor: pointer;
}
.name2{
    font-size: xx-large;
    font-family: 'schoolbell';
    color: white;
    text-shadow: #000000;
    align-content: center;
    text-align: center;
    border: white 1px solid;
    height: 100px; 
    line-height: 100px;
    border-style: ridge;
    background-color: rgba(0, 26, 140, 0.455);
    border: 5px solid black;
    cursor: pointer;
}

.score1{
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    align-content: center;
    padding-top: 15px;
    background-color: rgb(245, 245, 245);
    width: 190px;
    margin-left: 25px;
}
.score2{
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    align-content: center;
    padding-top: 15px;
    background-color: rgb(245, 245, 245);
    width: 190px;
    margin-left: 25px;
}
.answer1{
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black;
    height: 30px;
    width: 190px;
    margin-left: 25px;
    align-content: center;
    background-color: whitesmoke;
    -webkit-text-security: disc;
}
.answer2{
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black;
    height: 30px;
    width: 190px;
    margin-left: 25px;
    align-content: center;
    background-color: whitesmoke;
    -webkit-text-security: disc;
}
.answer1view{
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black;
    height: 30px;
    width: 190px;
    margin-left: 25px;
    align-content: center;
    background-color: whitesmoke;
}
.answer2view{
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black;
    height: 30px;
    width: 190px;
    margin-left: 25px;
    align-content: center;
    background-color: whitesmoke;
}
.lockButton{
    width: 150px;
    height: 50px;
    font-size: large;
    border-style: ridge;
    background-color: whitesmoke;
    color: black;
    margin-left: 20%;
    margin-top: 15%;
    cursor: pointer;
}
.board{
    position: relative;
    margin-left: 350px;
    margin-top: 20px;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
}
.cat1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 5px 2.5px 2.5px 5px;
    background-color: rgb(0, 26, 140);
    line-height: 60px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 0px 5px;
    word-wrap: break-word
}
.cat2{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    line-height: 60px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 0px 5px;
    word-wrap: break-word
}
.cat3{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    line-height: 60px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 0px 5px;
    word-wrap: break-word
}
.cat4{
    grid-column: 4/5;
    grid-row: 1/2;
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    line-height: 60px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 0px 5px;
    word-wrap: break-word
}
.cat5{
    grid-column: 5/6;
    grid-row: 1/2;
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 5px 5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    line-height: 60px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 0px 5px;
    word-wrap: break-word
}
.cat1val1{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 2.5px 2.5px 2.5px 5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;
}
.cat1val2{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

} 
.cat1val3{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat1val4{
    grid-column: 1/2;
    grid-row: 5/6;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat1val5{
    grid-column: 1/2;
    grid-row: 6/7;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 5px 5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat2val1{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat2val2{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat2val3{
    grid-column: 2/3;
    grid-row: 4/5;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat2val4{
    grid-column: 2/3;
    grid-row: 5/6;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat2val5{
    grid-column: 2/3;
    grid-row: 6/7;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat3val1{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat3val2{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat3val3{
    grid-column: 3/4;
    grid-row: 4/5;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat3val4{
    grid-column: 3/4;
    grid-row: 5/6;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px; 
    cursor: pointer;

}
.cat3val5{
    grid-column: 3/4;
    grid-row: 6/7;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat4val1{
    grid-column: 4/5;
    grid-row: 2/3;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat4val2{
    grid-column: 4/5;
    grid-row: 3/4;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat4val3{
    grid-column: 4/5;
    grid-row: 4/5;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat4val4{
    grid-column: 4/5;
    grid-row: 5/6;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat4val5{
    grid-column: 4/5;
    grid-row: 6/7;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 2.5px 5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat5val1{
    grid-column: 5/6;
    grid-row: 2/3;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat5val2{
    grid-column: 5/6;
    grid-row: 3/4;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat5val3{
    grid-column: 5/6;
    grid-row: 4/5;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat5val4{
    grid-column: 5/6;
    grid-row: 5/6;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 5px 2.5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;

}
.cat5val5{
    grid-column: 5/6;
    grid-row: 6/7;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 2.5px 5px 5px 2.5px;
    background-color: rgb(0, 26, 140);
    color: rgb(200, 170, 3);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
    cursor: pointer;
}
.clickedVal{
    width: 250px;
    height: 120px;
    border: 1px black solid;
    margin: 2.5px 2.5px 2.5px 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 5px;
}
.gameQuestion{
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: xx-large;
    left:0;
    right:0;
    top: 190px;
    margin-left: 36%;
    padding: 20px 100px 20px 100px;
    height: 300px;
    width: 600px;
    border: 3px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: rgba(255, 255, 255, 0.904);
    text-shadow: rgb(195, 195, 195) 2px 2px;
}
div.gameQuestion:empty{
    display: none;
}
.clearButton{
    background-color: rgb(0, 26, 140);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    font-size: large;
    cursor: pointer;
    
}
.welcome{
    position: absolute;
    text-align: center;
    color: whitesmoke;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 1000px;
}
.practiceButton{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    line-height: 100px;
    width: 600px;
    color: white;
    text-shadow: 2px 2px #000000;
    border: 5px solid white;
    border-style: ridge;
    background-color: rgb(0, 26, 140);
    cursor: pointer;
}
.practiceCategory{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 80px;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 600px;
    border: 3px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: white;
}
.practiceQuestion{
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    top: 190px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 100px 20px 100px;
    height: 300px;
    width: 600px;
    border: 3px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: white;
}
.practiceAnswer{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 185px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    line-height: 100px;
    width: 600px;
    border: 3px solid black;
    color: black;
    background-color: white;
}
.practiceUncoverAnswer{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 185px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    line-height: 100px;
    width: 600px;
    color: white;
    text-shadow: 2px 2px #000000;
    border: 5px solid white;
    border-style: ridge;
    background-color: rgb(0, 26, 140);
    cursor: pointer;
}
