body {
  margin: 0;
}
.navbar{
  background-color: black;
  height: 50px;
}
.homeLink{
  color: white;
  position: absolute;
  left: 30px;
  top: 16px;
  font-size: xx-large;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}
.homeLink:link{
  text-decoration: none;
}
.signOutLink{
  color: white;
  position: absolute;
  right: 30px;
  top: 16px;
  font-size: xx-large;
  font-size: xx-large;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;

}
.signOutLink:link{
  text-decoration: none;
}
.signIn{
  background-color: black;
}
.signInLink{
  color: white;
}
.signInLink:link{
  text-decoration: none;
  background-color: black;
}
